{% extends "base.html.twig" %}
{% block body %}
<div class="container-fluid innerHTML-center">    
  <div class="row content"  id="page">
    <div class="col-sm-2 sidenav">
      <div class="calendrier"><a href="#">...</a></div>
    </div>
    <div class="col-sm-8 innerHTML-left"> 
      <h1>Urgence</h1>
	  <h2>Etapes à suivre</h2>
	  <p>Vous venez de rencontrer un problème ou d'assister à un accident ? <br /> 
	  Suivez les quelques questions afin de savoir comment réagir.<br /><br /></p>
      <div id="questionnaire">
	<b><div id="question"></div></b>
	<div id="reponse"></div>
	<br /> <br />
	<b><div id="question2"></div></b>
	<div id="reponse2"></div>
	<b><div id="question3"></div></b>
	<div id="reponse3"></div>
	<div id="boutons">
	<input type="button" value="oui" id="oui" onclick="questionnaireOui()"></input>
	<input type="button" value="non" id="non" onclick="questionnaireNon()"></input></div><br /><br />
	
	
	<h2><font color="red"><b>Pour un nouvel essai, rechargez la page</b></font></h2>
		</div>
	  
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/urgences.js') }}"></script>{% endblock %}